@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@plugin "daisyui" {
  themes:orivio --default;
}

@plugin "daisyui/theme" {
  name: "orivio";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(83% 0.128 66.29);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(86% 0.127 207.078);
  --color-accent-content: oklch(30% 0.056 229.695);
  --color-neutral: oklch(21% 0.006 56.043);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(89% 0.196 126.665);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

html,body {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: var(--color-base-100);
}
